<p-breadcrumb class="max-w-full" [model]="items || []" [home]="home || {}"></p-breadcrumb>
<div class="grid">
  <div class="col-2"><app-sidenav></app-sidenav></div>
  <div class="col-10">
    <div style="padding-top:30px">

      <h2>{{ domain }}</h2>
      <hr />

      <p-panel [toggleable]="true">
        <ng-template pTemplate="header"> <span class="title">Getting Started</span></ng-template>
        <p>
          {{ domainDetails.Background }}
        </p>
      </p-panel>
      <br /><br />

      <p-panel [toggleable]="true">
        <ng-template pTemplate="header"> <span class="title">Use Cases</span></ng-template>
        <div *ngFor="let case of matchingUseCases">
          <a href="{{ case.URL }}" target="_blank">
            <h4>{{ case.Name }}</h4>
          </a>
          <p>{{ case.Description }}</p>
        </div>
      </p-panel>
      <br /><br />
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header"> <span class="title">Tools</span></ng-template>
        <p-table [value]="matchingTools" [tableStyle]="{ 'min-width': '50rem' }" class="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Level</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tool>
            <tr>
              <td><a href="{{ tool.URL }}" target="_blank">{{ tool.Name }}</a></td>
              <td>{{ tool.Description }}</td>
              <td>{{ tool.Status }}</td>
              <td>{{ tool.Level }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
      <br /><br />
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header"> <span class="title">Tutorials</span></ng-template>
        <p-table [value]="matchingTutorials" [tableStyle]="{ 'min-width': '50rem' }" class="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tutorial>
            <tr>
              <td><a href="{{ tutorial.URL }}" target="_blank">{{ tutorial.Name }}</a></td>
              <td>{{ tutorial.Description }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  </div>
</div>