<p-breadcrumb
  class="max-w-full"
  [model]="items || []"
  [home]="home || {}">
</p-breadcrumb>
<div class="grid">
  <div class="col-2"><app-sidenav-explore></app-sidenav-explore></div>
  <div class="col-10">
    <h2>Contact</h2>
    <hr class="mb-3" />
    <ul class="contact-list">
      <li>
        <a href="https://github.com/ResearchObject/ro-crate" target="_blank">
          <i class="fab fa-github"></i> GitHub</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/ro-crate" target="_blank">
          <i class="fab fa-youtube"></i> YouTube</a>
      </li>
      <li>
        <a href="https://www.facebook.com/ro-crate" target="_blank">
          <i class="fab fa-facebook"></i> Facebook</a>
      </li>
      <li>
        <a href="https://twitter.com/ro-crate" target="_blank">
          <i class="fab fa-twitter"></i> Twitter</a>
      </li>
      <li>
        <a href="https://join.slack.com/t/seek4science/shared_invite/zt-csqh94qb-kf~kFbZxuHl1Hpxhbc8avw"
          target="_blank"><i class="fab fa-slack"></i> Slack</a>
      </li>
    </ul>
  </div>
</div>
