<p-breadcrumb class="max-w-full" [model]="items || []" [home]="home || {}"></p-breadcrumb>
<div class="grid">
  <div class="col-2"><app-sidenav></app-sidenav></div>
  <div class="col-10 pr-4">
    <h3>Outreach</h3>
    <hr class="mb-3" />
    <h3>Zenodo community</h3>
    <p>
      Please submit your RO-Crate-related contributions (including RO-Crate
      deposits!) to the
      <a href="https://zenodo.org/communities/ro/">Zenodo ResearchObject community</a>.
    </p>
    <h3>Cite RO-Crate</h3>
    <p>
      Stian Soiland-Reyes, Peter Sefton, Mercè Crosas, Leyla Jael Castro,
      Frederik Coppens, José M. Fernández, Daniel Garijo, Björn Grüning, Marco
      La Rosa, Simone Leo, Eoghan Ó Carragáin, Marc Portier, Ana Trisovic,
      RO-Crate Community, Paul Groth, Carole Goble (2022):<br />
      <strong>Packaging research artefacts with RO-Crate</strong>.<br />
      <em>Data Science</em> <strong>5</strong>(2)<br />
      <a href="https://doi.org/10.3233/DS-210053">https://doi.org/10.3233/DS-210053</a>
    </p>
    <h2>RO-Crate logo</h2>
    <p>
      The below RO-Crate logos can be used by for application, websites,
      posters, slides etc. for work that use, implement or support RO-Crate
      according to the <a href="specification.html">specification</a>, ideally
      linking to
      <a href="https://w3id.org/ro/crate">https://w3id.org/ro/crate</a>. To ask
      permission for any other use, raise an
      <a href="https://github.com/ResearchObject/ro-crate/issues">issue</a>.
    </p>
    
    <div class="flex flex-row flex-wrap justify-content-center text-center section-content">
      <div class="logo-grid">
        <p-card>
          <div class="logo-container">
            <img src="/assets/images/ro-crate.svg" class="logo-image mb-4"/><br/>
            [<a href="/assets/images/ro-crate.svg">svg</a>] [<a href="/assets/images/ro-crate.png">png</a>]
          </div>
        </p-card>
      </div>
      <div class="logo-grid">
        <p-card>
          <div class=logo-container>
            <img src="/assets/images/ro-crate-w-text.svg" class="logo-image mb-4"/><br/>
            [<a href="/assets/images/ro-crate-w-text.svg">svg</a>] [<a href="/assets/images/ro-crate-w-text.png">png</a>]
          </div>
        </p-card>
      </div>
      <div class="logo-grid">
        <p-card>
          <div class="logo-container">
            <img src="/assets/images/ro-crate-wide.svg" class="logo-image mb-4"/><br/>
            [<a href="/assets/images/ro-crate-wide.svg">svg</a>] [<a href="/assets/images/ro-crate-wide.png">png</a>]
          </div>
        </p-card>
      </div>
  </div>
</div>