<p-breadcrumb class="max-w-full" [model]="items || []" [home]="home || {}"></p-breadcrumb>
<div class="grid">
  <div class="col-2"><app-sidenav-explore></app-sidenav-explore></div>
  <div class="col-10">
    <h3>Team</h3>
    <hr class="mb-3" />
    <p>The <em>RO-Crate</em> team is:</p>
    <ul>
      <li>Peter Sefton <a href="https://orcid.org/0000-0002-3545-944X">https://orcid.org/0000-0002-3545-944X</a>
        (co-chair)</li>
      <li>Stian Soiland-Reyes <a href="https://orcid.org/0000-0001-9842-9718">https://orcid.org/0000-0001-9842-9718</a>
        (co-chair)</li>
      <li>Eoghan Ó Carragáin <a href="https://orcid.org/0000-0001-8131-2150">https://orcid.org/0000-0001-8131-2150</a>
        (emeritus chair)
      </li>
      <li>Oscar Corcho <a href="https://orcid.org/0000-0002-9260-0753">https://orcid.org/0000-0002-9260-0753</a>
      </li>
      <li>Daniel Garijo <a href="https://orcid.org/0000-0003-0454-7145">https://orcid.org/0000-0003-0454-7145</a>
      </li>
      <li>Raul Palma <a href="https://orcid.org/0000-0003-4289-4922">https://orcid.org/0000-0003-4289-4922</a></li>
      <li>Frederik Coppens <a href="https://orcid.org/0000-0001-6565-5145">https://orcid.org/0000-0001-6565-5145</a>
      </li>
      <li>Carole Goble <a href="https://orcid.org/0000-0003-1219-2137">https://orcid.org/0000-0003-1219-2137</a>
      </li>
      <li>José María Fernández <a href="https://orcid.org/0000-0002-4806-5140">https://orcid.org/0000-0002-4806-5140</a>
      </li>
      <li>Kyle Chard <a href="https://orcid.org/0000-0002-7370-4805">https://orcid.org/0000-0002-7370-4805</a></li>
      <li>Jose Manuel Gomez-Perez <a
          href="https://orcid.org/0000-0002-5491-6431">https://orcid.org/0000-0002-5491-6431</a></li>
      <li>Michael R Crusoe <a href="https://orcid.org/0000-0002-2961-9670">https://orcid.org/0000-0002-2961-9670</a>
      </li>
      <li>Ignacio Eguinoa <a href="https://orcid.org/0000-0002-6190-122X">https://orcid.org/0000-0002-6190-122X</a>
      </li>
      <li>Nick Juty <a href="https://orcid.org/0000-0002-2036-8350">https://orcid.org/0000-0002-2036-8350</a></li>
      <li>Kristi Holmes <a href="https://orcid.org/0000-0001-8420-5254">https://orcid.org/0000-0001-8420-5254</a>
      </li>
      <li>Jason A. Clark <a href="https://orcid.org/0000-0002-3588-6257">https://orcid.org/0000-0002-3588-6257</a>
      </li>
      <li>Salvador Capella-Gutierrez <a
          href="https://orcid.org/0000-0002-0309-604X">https://orcid.org/0000-0002-0309-604X</a></li>
      <li>Alasdair J. G. Gray <a href="https://orcid.org/0000-0002-5711-4872">https://orcid.org/0000-0002-5711-4872</a>
      </li>
      <li>Stuart Owen <a href="https://orcid.org/0000-0003-2130-0865">https://orcid.org/0000-0003-2130-0865</a></li>
      <li>Alan R Williams <a href="https://orcid.org/0000-0003-3156-2105">https://orcid.org/0000-0003-3156-2105</a>
      </li>
      <li>Giacomo Tartari <a href="https://orcid.org/0000-0003-1130-2154">https://orcid.org/0000-0003-1130-2154</a>
      </li>
      <li>Finn Bacall <a href="https://orcid.org/0000-0002-0048-3300">https://orcid.org/0000-0002-0048-3300</a></li>
      <li>Thomas Thelen <a href="https://orcid.org/0000-0002-1756-2128">https://orcid.org/0000-0002-1756-2128</a>
      </li>
      <li>Hervé Ménager <a href="https://orcid.org/0000-0002-7552-1009">https://orcid.org/0000-0002-7552-1009</a>
      </li>
      <li>Laura Rodríguez-Navas <a
          href="https://orcid.org/0000-0003-4929-1219">https://orcid.org/0000-0003-4929-1219</a></li>
      <li>Paul Walk <a href="https://orcid.org/0000-0003-1541-5631">https://orcid.org/0000-0003-1541-5631</a></li>
      <li>brandon whitehead <a href="https://orcid.org/0000-0002-0337-8610">https://orcid.org/0000-0002-0337-8610</a>
      </li>
      <li>Mark Wilkinson <a href="https://orcid.org/0000-0001-6960-357X">https://orcid.org/0000-0001-6960-357X</a>
      </li>
      <li>Paul Groth <a href="https://orcid.org/0000-0003-0183-6910">https://orcid.org/0000-0003-0183-6910</a></li>
      <li>Erich Bremer <a href="https://orcid.org/0000-0003-0223-1059">https://orcid.org/0000-0003-0223-1059</a>
      </li>
      <li>LJ Garcia Castro <a href="https://orcid.org/0000-0003-3986-0510">https://orcid.org/0000-0003-3986-0510</a>
      </li>
      <li>Karl Sebby <a href="https://orcid.org/0000-0001-6022-9825">https://orcid.org/0000-0001-6022-9825</a></li>
      <li>Alexander Kanitz <a href="https://orcid.org/0000-0002-3468-0652">https://orcid.org/0000-0002-3468-0652</a>
      </li>
      <li>Ana Trisovic <a href="https://orcid.org/0000-0003-1991-0533">https://orcid.org/0000-0003-1991-0533</a>
      </li>
      <li>Gavin Kennedy <a href="https://orcid.org/0000-0003-3910-0474">https://orcid.org/0000-0003-3910-0474</a>
      </li>
      <li>Mark Graves <a href="https://orcid.org/0000-0003-3486-8193">https://orcid.org/0000-0003-3486-8193</a></li>
      <li>Jasper Koehorst <a href="https://orcid.org/0000-0001-8172-8981">https://orcid.org/0000-0001-8172-8981</a>
      </li>
      <li>Simone Leo <a href="https://orcid.org/0000-0001-8271-5429">https://orcid.org/0000-0001-8271-5429</a></li>
      <li>Marc Portier <a href="https://orcid.org/0000-0002-9648-6484">https://orcid.org/0000-0002-9648-6484</a>
      </li>
      <li>Paul Brack <a href="https://orcid.org/0000-0002-5432-2748">https://orcid.org/0000-0002-5432-2748</a></li>
      <li>Milan Ojsteršek <a href="https://orcid.org/0000-0003-1743-8300">https://orcid.org/0000-0003-1743-8300</a>
      </li>
      <li>Bert Droesbeke <a href="https://orcid.org/0000-0003-0522-5674">https://orcid.org/0000-0003-0522-5674</a>
      </li>
      <li>Chenxu Niu <a href="https://orcid.org/0000-0002-2142-1731">https://orcid.org/0000-0002-2142-1731</a></li>
      <li>Kosuke Tanabe <a href="https://orcid.org/0000-0002-9986-7223">https://orcid.org/0000-0002-9986-7223</a>
      </li>
      <li>Tomasz Miksa <a href="https://orcid.org/0000-0002-4929-7875">https://orcid.org/0000-0002-4929-7875</a>
      </li>
      <li>Marco La Rosa <a href="https://orcid.org/0000-0001-5383-6993">https://orcid.org/0000-0001-5383-6993</a>
      </li>
      <li>Cedric Decruw <a href="https://orcid.org/0000-0001-6387-5988">https://orcid.org/0000-0001-6387-5988</a>
      </li>
      <li>Andreas Czerniak <a href="https://orcid.org/0000-0003-3883-4169">https://orcid.org/0000-0003-3883-4169</a>
      </li>
      <li>Jeremy Jay <a href="https://orcid.org/0000-0002-5761-7533">https://orcid.org/0000-0002-5761-7533</a></li>
      <li>Sergio Serra <a href="https://orcid.org/0000-0002-0792-8157">https://orcid.org/0000-0002-0792-8157</a>
      </li>
      <li>Ronald Siebes <a href="https://orcid.org/0000-0001-8772-7904">https://orcid.org/0000-0001-8772-7904</a>
      </li>
      <li>Shaun de Witt <a href="https://orcid.org/0000-0003-4196-3658">https://orcid.org/0000-0003-4196-3658</a>
      </li>
      <li>Shady El Damaty <a href="https://orcid.org/0000-0002-2318-4477">https://orcid.org/0000-0002-2318-4477</a>
      </li>
      <li>Douglas Lowe <a href="https://orcid.org/0000-0002-1248-3594">https://orcid.org/0000-0002-1248-3594</a>
      </li>
      <li>Xuanqi Li <a href="https://orcid.org/0000-0003-1498-6205">https://orcid.org/0000-0003-1498-6205</a></li>
      <li>Sveinung Gundersen <a href="https://orcid.org/0000-0001-9888-7954">https://orcid.org/0000-0001-9888-7954</a>
      </li>
      <li>Muhammad Radifar <a href="https://orcid.org/0000-0001-9156-9478">https://orcid.org/0000-0001-9156-9478</a>
      </li>
      <li>Rudolf Wittner <a href="https://orcid.org/0000-0002-0003-2024">https://orcid.org/0000-0002-0003-2024</a>
      </li>
      <li>Oliver Woolland <a href="https://orcid.org/0000-0002-4565-9760">https://orcid.org/0000-0002-4565-9760</a>
      </li>
      <li>Paul De Geest <a href="https://orcid.org/0000-0002-8940-4946">https://orcid.org/0000-0002-8940-4946</a>
      </li>
      <li>Douglas Fils <a href="https://orcid.org/0000-0002-2257-9127">https://orcid.org/0000-0002-2257-9127</a>
      </li>
      <li>Florian Wetzels <a href="https://orcid.org/0000-0002-5526-7138">https://orcid.org/0000-0002-5526-7138</a>
      </li>
      <li>Raül Sirvent <a href="https://orcid.org/0000-0003-0606-2512">https://orcid.org/0000-0003-0606-2512</a>
      </li>
      <li>Abigail Miller <a href="https://orcid.org/0000-0001-9228-2882">https://orcid.org/0000-0001-9228-2882</a>
      </li>
      <li>Jake Emerson <a href="https://orcid.org/0000-0003-0617-9219">https://orcid.org/0000-0003-0617-9219</a>
      </li>
      <li>Davide Fucci <a href="https://orcid.org/0000-0002-0679-4361">https://orcid.org/0000-0002-0679-4361</a>
      </li>
      <li>Bruno P. Kinoshita <a href="https://orcid.org/0000-0001-8250-4074">https://orcid.org/0000-0001-8250-4074</a>
      </li>
      <li>Maciek Bąk <a href="https://orcid.org/0000-0003-1361-7301">https://orcid.org/0000-0003-1361-7301</a></li>
      <li>Jens Hollunder <a href="https://orcid.org/0000-0003-3234-6762">https://orcid.org/0000-0003-3234-6762</a>
      </li>
      <li>Martin Weise <a href="http://orcid.org/0000-0003-4216-302X">http://orcid.org/0000-0003-4216-302X</a></li>
    </ul>
    <p>The RO-Crate Community is open for anyone to <a href="https://github.com/ResearchObject/ro-crate/issues/1">join
        us</a>!</p>
    <h3 id="meetings"> <a href="#meetings" class="anchor-heading" aria-labelledby="meetings">

      </a> Meetings </h3>
    <p>The RO-Crate team try to meet at least monthly in a telcon, see the <a
        href="https://s.apache.org/ro-crate-minutes">rolling agenda</a> for schedule, call-in details and minutes.
    </p>
    <p>See also <a href="outreach-2.html#upcoming-and-recent-events">recent and upcoming events</a>.</p>
    <h3 id="mailing-list"> <a href="#mailing-list" class="anchor-heading" aria-labelledby="mailing-list">
      </a> Mailing list </h3>
    <p>The RO-Crate Community has a low-traffic public <a
        href="https://lists.elixir-europe.org/mailman/listinfo/ro-crate_elixir-europe.org">RO-Crate mailing
        list</a>, used for announcements and general enquiries.</p>
    <p>Note that most discussion about the <a href="specification.html">RO-Crate specifications</a> typically happen
      in <a href="https://github.com/ResearchObject/ro-crate/issues">GitHub issues</a> and <a
        href="https://s.apache.org/ro-crate-minutes">community meetings</a>.</p>
    <h3 id="slack-chat"> <a href="#slack-chat" class="anchor-heading" aria-labelledby="slack-chat">
      </a> Slack Chat </h3>
    <p>We have an informal Slack chat channel <a href="https://seek4science.slack.com/archives/C01LQQAAAS1">#ro-crate on
        seek4science.slack.com</a> (<a
        href="https://join.slack.com/t/seek4science/shared_invite/zt-csqh94qb-kf~kFbZxuHl1Hpxhbc8avw">join</a>).</p>
    <h3 id="code-of-conduct"> <a href="#code-of-conduct" class="anchor-heading" aria-labelledby="code-of-conduct"></a>
      Code of Conduct </h3>
    <p>Contributors to the RO-Crate community are expected to comply with our <a
        href="https://github.com/ResearchObject/ro-crate/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a> to
      ensure an open and inclusive environment.</p>
    <h3 id="contributing"> <a href="#contributing" class="anchor-heading" aria-labelledby="contributing"></a>
      Contributing </h3>
    <p>To suggest changes, improvements or issues, use the GitHub repository <a
        href="https://github.com/ResearchObject/ro-crate">https://github.com/ResearchObject/ro-crate</a> - if you
      are new to GitHub or Open Source you may appreciate the <a href="https://guides.github.com/">GitHub guides</a>
      like <a href="https://guides.github.com/activities/hello-world/">Hello World</a>, <a
        href="https://guides.github.com/features/mastering-markdown/">MarkDown</a> and <a
        href="https://opensource.guide/how-to-contribute/">How to contribute to open source</a></p>
    <p>You are welcome to <a href="https://github.com/ResearchObject/ro-crate/issues/1">join us</a>!</p>
    <h3 id="open-source"> <a href="#open-source" class="anchor-heading" aria-labelledby="open-source">

      </a> Open Source </h3>
    <p>This specification and documentation is Open Source and licensed as <a
        href="https://github.com/ResearchObject/ro-crate/blob/master/LICENSE">Apache License, version 2.0</a>, see
      <a href="https://www.apache.org/licenses/LICENSE-2.0">https://www.apache.org/licenses/LICENSE-2.0</a> for
      details.
    </p>
  </div>
</div>