<p-breadcrumb class="max-w-full" [model]="items || []" [home]="home || {}"></p-breadcrumb>
<div class="grid">
  <div class="col-2"><app-sidenav-spec></app-sidenav-spec></div>
  <div class="col-10">
    <h2>Research Object Crate Specification</h2>
    <hr class="mb-3" />
    <p-tabView [scrollable]="true" (onChange)="versionChange($event)">
      <p-tabPanel header="RO-Crate 1.1 (Latest)">
       
      </p-tabPanel>
      <p-tabPanel header="RO-Crate 1.2 (Draft)">
       
      </p-tabPanel>
     
    </p-tabView>
    <div [innerHTML]="detailHTML"></div>
  </div>
</div>