@import "node_modules/primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import 'assets/palette.scss';

html, body, app-root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
	font-family: "Source Sans 3", sans-serif;
	font-size:16px;
	font-weight:300;
	line-height:1.6em;
  background-color: white;
}

h1,h2, h3, h4, h5, h6 {
	font-weight:700;
	color: $primary-gray;
	margin-bottom: 10px;
  text-decoration: none;
}

h2{
  font-size: 30px;
}

hr {
  border: 0;
  border-top: 1px solid $primary-brown;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: $secondary-brown;
  font-family: "Source Sans 3", sans-serif;
}

.p-menubar .p-menuitem-link {
  text-decoration: none !important;
}

.p-menubar .p-menubar-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem $primary-teal !important;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
  color: $primary-teal !important;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
  color: $primary-teal !important;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
  color: $primary-teal !important;
}

.title {
  color: $primary-teal;
  font-size: 18px;
  font-weight: 700;
  margin-top:20px;
  margin-bottom: 20px;
}

.category-header a {
  color: $primary-gray;
  font-size: 20px;
  line-height: 28px;
  margin: 0px !important;
  padding: 0px !important;
  text-decoration: none !important;
  font-weight: 700;
}

.p-menubar.p-component {
  background-color: white;
  border: none;
}

.icon-info-blocks {
  float: left;
  color: #777;
  font-size: 30px;
  min-width: 50px;
  margin-top: 10px;
  text-align: center;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
  padding-top: 7px !important;
}

.p-breadcrumb {
  padding: 5px 20px 5px !important;
  border-radius: 0 !important;
}

.p-panel .p-panel-content {
  color: $primary-gray !important;
}
.p-datatable .p-datatable-thead > tr > th {
  color: $primary-gray !important;
  font-family: "Source Sans 3", sans-serif;
}

.grid {
  margin: 0 !important;
}

.tag-link {
  color: white !important;
}

.stacked-tag {
  .p-tag {
    margin-top: 10px;
    background-color: $primary-teal;
    font-weight: 400;
  }
}
.contact-icons {
  list-style: none;
  padding: 0;
}
.contact-icons li {
  display: inline;
  margin-right: 10px;
}
.contact-icons a {
  text-decoration: none;
  color: black;
}