<div class="text-center heading">
  <h2>Research Object Crate (RO-Crate)</h2>
    <p>
      RO-Crate is a community effort to establish a lightweight approach
      to packaging research data with their metadata.
    </p>
</div>
<div class="featured-content">
  <div class="section-header">Explore RO Crate in Use</div>
  <div>
    <p-carousel [value]="useCases" [numVisible]="4" [numScroll]="3" [circular]="true"
      [responsiveOptions]="responsiveOptions" class="pr-5 pl-5">
      <ng-template let-useCase pTemplate="item">
        <!-- CAROUSEL ITEM -->
        <div class="carousel-item border-1 surface-border border-round m-2 shadow-2 py-5 px-3">
          <!-- TOP HALF -->
          <div class="carousel-image-container">
            <img src="/assets/images/{{ useCase.Image }}" [alt]="useCase.Name" class="carousel-image" />
          </div>
          <!-- BOTTOM HALF -->
          <div class="carousel-content-container">
            <div class="text-center">
              <h4 class="mb-1">{{ useCase.Name }}</h4><br />
            </div>
            <div class="text-center">
              <p-tag class="mr-2 stacked-tag" *ngFor="let tag of useCase.Tags">
                <a class="tag-link" [routerLink]="getTagRoute(tag)" [queryParams]="{ category: tag }">{{ tag }}</a>
              </p-tag>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

</div>