@import '../../assets/palette.scss';


h3, h4{
  color: $primary-gray !important;
}

.section-header {
  color: $primary-teal;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 30px;
  position: relative; 
}

.heading {
  background: rgb(243,243,243);
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }
  p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
  }
}

.featured-content {
  position: relative;  
  border-top: 1px solid $primary-teal;
  border-bottom: 1px solid $primary-teal;
}

.featured-content::before {    
  content: "";
  background-image: url('../../assets/images/bg22.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}


.featured-content p {
  color: $primary-gray;
  font-size: 0.95em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.dtr {
  background-color: $tertiary-teal;
}

.feature-grid {
  position: relative; 
  margin: 30px 50px 30px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  .p-card {
    background-color: white;
  }
}

.feature-grid .fa {
  color: $primary-gray;
  border: 2px solid $primary-teal;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background: $tertiary-gray;
  padding-top: 15px;
  display: inline-block;
}

.tag-link {
  color: white !important;
}

.stacked-tag {
  .p-tag {
    margin-top: 10px;
    background-color: $primary-teal;
    font-weight: 400;
  }
}

.more-button {
  margin-top: 20px;
  background-color: $primary-teal;
  font-weight: 400;
}

.carousel-container {  
  border: 1px solid $primary-teal;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 430px);
  background-color: white;
}

.carousel-image-container {
  flex: 2;
  overflow: hidden;
  text-align: center;
}

.carousel-image {
  width: 75%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.carousel-content-container {
  flex: 2;
}

.p-carousel-container {
  margin-left: 20px;
  margin-right: 20px;
}

.p-carousel-content .p-carousel-prev,.p-carousel-next {
  width: 3.5rem !important;
  height: 3.5rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
  background-color: white;
}

.p-carousel-prev, .p-carousel-next {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    .p-icon {
      width: 2.5rem !important;
      height: 2.5rem !important;
  }
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $primary-teal;
}
